SAN Field Value showing as critical

Hi Team,

We are using internal ACME issuer for issuing the certificates for domains. Certs are fetching fine but SAN filed values are showing as CRITICAL status. We are trying to edit the certificate file but its not considering the changes. below is the certificate template file.

```yaml
{{- if .Values.proxy.ingressRoute.enabled -}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
 name: {{ template "app.fullname" . }}
 namespace: {{ template "app.namespace" . }} 
spec:
 commonName: {{ .Values.proxy.ingressRoute.hostname }}
 secretName:  app-tls
 dnsNames:
  - {{ .Values.proxy.ingressRoute.hostname }} 
 issuerRef:
  name: {{ .Values.proxy.ingressRoute.certificateIssuer | quote }}
  kind: ClusterIssuer
{{- end }}
```


For our internal domain we not getting CN details as below. 

![image](https://github.com/user-attachments/assets/b0611715-abb5-498c-a53a-008fb57c05ef)


For us its giving CRITICAL status we want to setup as below. are we missing anything?
please help us here.

![image](https://github.com/user-attachments/assets/34c2d6ce-fff3-4ff4-a65e-02ce713bf37e)


BR
Venkat

Hey, thanks for raising this!

I suspect this is going to be a problem with your issuer and not so much with cert-manager. cert-manager can request an extension be critical or non-critical, but ultimately it's the issuer signing your cert which gets to choose that. Those issuers usually follow [RFC5280](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6) or the [CAB Forum Guidelines](https://cabforum.org/working-groups/server/baseline-requirements/documents/CA-Browser-Forum-TLS-BR-2.1.1.pdf).

Specifically:

> If the subject field of the certificate is an empty SEQUENCE, this extension MUST be marked critical, as specified in RFC 5280, Section 4.2.1.6. Otherwise, this extension MUST NOT be marked critical.

That's logic that the CA should implement.

Does that help?

Hi @SgtCoDFish,

Thanks for the info and hint. will cross verify the issuer setup.

BR,
Venkat