Orders sent by cert-manager using a cluster-issuer with an EAB are not RFC8555 compliant | Step-CA private ACME Server

**Describe the bug**: 
when issuing certificates against a private ACME Server which requires the use of an External Account Binding (in this case it's [step-ca](https://smallstep.com/docs/step-ca/)) the orders created fail because the JOSE Header, containing the 'kid', is missing in the POST request. 
Registration against the ACME Server works as the cluster-issuer in question is in the status "The ACME account was registered with the ACME server"

describing the failed order shows the following output:

```
Name:         grafana-ing-cert-5d87j-2314769740
Namespace:    default
Labels:       <none>
Annotations:  cert-manager.io/certificate-name: grafana-ing-cert
              cert-manager.io/certificate-revision: 1
              cert-manager.io/private-key-secret-name: grafana-ing-cert-gqjhz
API Version:  acme.cert-manager.io/v1
Kind:         Order
Metadata:
  Creation Timestamp:  2023-04-25T14:24:53Z
  Generation:          1
  Managed Fields:
    API Version:  acme.cert-manager.io/v1
    Fields Type:  FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .:
          f:cert-manager.io/certificate-name:
          f:cert-manager.io/certificate-revision:
          f:cert-manager.io/private-key-secret-name:
        f:ownerReferences:
          .:
          k:{"uid":"4d7312bc-70da-4f64-80e8-182fe10b9919"}:
      f:spec:
        .:
        f:dnsNames:
        f:issuerRef:
          .:
          f:group:
          f:kind:
          f:name:
        f:request:
    Manager:      cert-manager-certificaterequests-issuer-acme
    Operation:    Update
    Time:         2023-04-25T14:24:53Z
    API Version:  acme.cert-manager.io/v1
    Fields Type:  FieldsV1
    fieldsV1:
      f:status:
        .:
        f:failureTime:
        f:reason:
        f:state:
    Manager:      cert-manager-orders
    Operation:    Update
    Subresource:  status
    Time:         2023-04-25T14:24:53Z
  Owner References:
    API Version:           cert-manager.io/v1
    Block Owner Deletion:  true
    Controller:            true
    Kind:                  CertificateRequest
    Name:                  grafana-ing-cert-5d87j
    UID:                   4d7312bc-70da-4f64-80e8-182fe10b9919
  Resource Version:        21309239
  UID:                     ad1c903b-e26f-4b2a-9aa0-230353c6c123
Spec:
  Dns Names:
    my-ingress-hostname (placeholder)
  Issuer Ref:
    Group:  cert-manager.io
    Kind:   ClusterIssuer
    Name:   cert-manager
  Request:  LS0tLS1CRUdJTiBDRVJU..........VVFU1QtLS0tLQo=
Status:
  Failure Time:  2023-04-25T14:24:53Z
  Reason:        Failed to create Order: 400 urn:ietf:params:acme:error:malformed: Missing JOSE header 'kid'.
  State:         errored
Events:          <none>
```

decoding the newOrder POST request sent by cert-manager to the step-ca ACME Server shows the following Header: 

```
{
  "alg": "RS256",
  "jwk": {
    "e": "AQAB",
    "kty": "RSA",
    "n": "5Z-7Ghuc.......xgTvuGeQ"
  },
  "nonce": "azHv--l6Je6KyjpMH-QQSgAAAYePYE5t",
  "url": "https://acme.my-internal-acme/newOrder"
}
```
according to [RFC8555 Section 6.2 - Request Authentication](https://datatracker.ietf.org/doc/html/rfc8555#section-6.2)

The kid field needs to be present in a newOrder POST Request. 

>    The "jwk" and "kid" fields are mutually exclusive.  Servers MUST
>    reject requests that contain both.
> 
>    For newAccount requests, and for revokeCert requests authenticated by
>    a certificate key, there MUST be a "jwk" field.  This field MUST
>    contain the public key corresponding to the private key used to sign
>    the JWS.
> 
>    For all other requests, the request is signed using an existing
>    account, and there MUST be a "kid" field.  This field MUST contain
>    the account URL received by POSTing to the newAccount resource.
> 


described in [RFC8555 Section 7.4 - Applying for Certificate Issuance ](https://datatracker.ietf.org/doc/html/rfc8555#section-7.4) a newOrder Request should be structured like this: 

```
   POST /acme/new-order HTTP/1.1
   Host: example.com
   Content-Type: application/jose+json

   {
     "protected": base64url({
       "alg": "ES256",
       "kid": "https://example.com/acme/acct/evOfKhNU60wg",
       "nonce": "5XJ1L3lEkMG7tR6pA00clA",
       "url": "https://example.com/acme/new-order"
     }),
     "payload": base64url({
       "identifiers": [
         { "type": "dns", "value": "www.example.org" },
         { "type": "dns", "value": "example.org" }
       ],
       "notBefore": "2016-01-01T00:04:00+04:00",
       "notAfter": "2016-01-08T00:04:00+04:00"
     }),
     "signature": "H6ZXtGjTZyUnPeKn...wEA4TklBdh3e454g"
   }
```
which shows the existance of a 'kid' field, expected by the ACME Server Instance.

the cluster-issuer in use: 
```
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cert-manager
spec:
  acme:
    # The ACME server URL
    server: https://acme.my-internal-acme/directory
    caBundle: LS0tL........FURS0tLS0tCg==
    externalAccountBinding:
      keyID: "https://acme.my-internal-acme/account/SOME-ID"
      keySecretRef:
        name: eabsecret 
        key: secret
    privateKeySecretRef:
      name: cert-manager-key
    solvers:
    - http01:
        ingress:
          class: traefik
```
**Expected behaviour**:

when creating orders against an ACME Server with the use of an EAB, the newOrder POST Request should only contain the 'kid' field instead of the 'jwk' field, to be RFC8555 compliant.

**Steps to reproduce the bug**:

1. install cert-manager via helm with the following IngressShim values:
```
ingressShim:
  defaultIssuerName: "cert-manager"
  defaultIssuerKind: "cluster-issuer"
  defaultIssuerGroup: "cert-manager.io"
```
2. create an eabsecret containing the base64URL MAC key according to the [ cert-manager docs](https://cert-manager.io/docs/configuration/acme/#external-account-bindings)
3. kubectl apply the above mentioned cluster-issuer
4. create an ingress resource that is supplied with the following annotations: 
```
kubernetes.io/tls-acme: true
cert-manager.io/cluster-issuer: cert-manager
```
4. verify that the order fails via kubectl describe order

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: v1.22.9
- Cloud-provider/provisioner: vSphere with Tanzu
- cert-manager version:  v1.11.1
- Install method: helm

/kind bug


/vote

/vote

after looking into this Issue with the help of @dermorz, we found out that the ACME Server in question is not responding in a RFC Compliant way when cert-manager is POSTing against the NewAccount endpoint, resulting in an Error on the ACME Server side. [RFC8555 Section 7.3.1 - Finding an Account URL Given a Key](https://datatracker.ietf.org/doc/html/rfc8555#section-7.3.1)

This looks more like a feature request: the `acmeapi.Client` can be initialized with a fixed `kid` which would be used on the order call instead of retrieving the kid right before (every) order.
https://github.com/cert-manager/cert-manager/blob/5035dda25e8839ef0a0737efdb3df6ff1e97f6e1/pkg/acme/accounts/client.go#L48-L57

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.
If this issue is safe to close now please do so with `/close`.
Send feedback to [jetstack](https://github.com/jetstack).
/lifecycle stale

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.
If this issue is safe to close now please do so with `/close`.
Send feedback to [jetstack](https://github.com/jetstack).
/lifecycle rotten
/remove-lifecycle stale

Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Send feedback to [jetstack](https://github.com/jetstack).
/close

@jetstack-bot: Closing this issue.

<details>

In response to [this](https://github.com/cert-manager/cert-manager/issues/5987#issuecomment-1749036116):

>Rotten issues close after 30d of inactivity.
>Reopen the issue with `/reopen`.
>Mark the issue as fresh with `/remove-lifecycle rotten`.
>Send feedback to [jetstack](https://github.com/jetstack).
>/close


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>